<h1>Edite {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input
      name="title"
      id="title"
      type="text"
      class="validate"
      value="{{course.title}}"
    />
    <label for="title">Course name</label>
    <span
      class="helper-text"
      data-error="wrong title"
      data-success="right"
    >Enter title</span>
  </div>
  <div class="input-field">
    <input
      name="price"
      id="price"
      type="text"
      class="validate"
      value="{{course.price}}"
    />
    <label for="price">Course price</label>
    <span
      class="helper-text"
      data-error="wrong price"
      data-success="right"
    >Enter price</span>
  </div>
  <div class="input-field">
    <input
      name="img"
      id="img"
      type="text"
      class="validate"
      value="{{course.img}}"
    />
    <label for="img">Url image</label>
    <span class="helper-text" data-error="wrong img" data-success="right">Enter
      img url</span>
  </div>
  <input type="hidden" name="id" value="{{course._id}}" />
  <input type="hidden" name="_csrf" value="{{csrf}}" />
  <button type="submit" class="btn btn-primary">Edite course</button>
</form>
<form action="/courses/remove" method="POST">
  <input type="hidden" name="id" value="{{course._id}}" />
  <input type="hidden" name="_csrf" value="{{csrf}}" />
  <button class="btn red">Remove</button>
</form>